# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
*.pyzzzz
*.pywzzzz
*.pyzzzzz
*.pywzzzzz
*.pyzzzzzz
*.pywzzzzzz
*.pyzzzzzzz
*.pywzzzzzzz
*.pyzzzzzzzz

nitpick.egg-info/
